<!DOCTYPE html>
<html>
<head>
  <title>Links</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if logged_in? %>
    <form action="<%= session_url %>" method="post">
      <%= auth_token %>
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" name="" value="Sign Out">
    </form>
  <% else %>
    <%= link_to 'Log in', new_session_url %>
  <% end %>

<%= yield %>

</body>
</html>
