<%= @link.user.username %>


<%= link_to @link.title, @link.url %>
<%= link_to, 'Links', links_url %>

<% @link.comments.each do |comment| %>
  <%= comment.body %>
  <%= button_to 'Delete', comment_url(comment.id), method: :delete%>
<% end %>

<h2>Add Comment</h2>
<form action="<%= comments_url %>" method="post">
  <input type="hidden" name="comment[link_id]" value="<%=@link.id%>">
  <%= auth_token %>
  <label for="body">Body: </label>
  <input type="text" name="comment[body]" value="<%=@link.body%>">
  <input type="submit" name="" value="Add Comment">
</form>
